# Force all .ts and .tsx files to be counted
*.ts linguist-detectable=true
*.tsx linguist-detectable=true
*.py linguist-vendored

# 'src' make sure everything in it is counted
src/** linguist-detectable=true

# noise
dist/** linguist-vendored
build/** linguist-vendored
node_modules/** linguist-vendored
